apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  labels:
    component: api
  namespace: app-ns
  annotations:
    monitoring: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      component: api
  template:
    metadata:
      labels:
        component: api
    spec:
      initContainers:
        - name: authen-go-init
          image: ghcr.io/tranthetuan/authen-go:master
          args: ["migration", "migrate"]
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: app-secret
          resources:
            requests:
              cpu: "10m"
              memory: "45Mi"
            limits:
              cpu: "50m"
              memory: "150Mi"
      containers:
        - name: authen-go-grpc
          image: ghcr.io/tranthetuan/authen-go:master
          # args: append args to dockerfile's entrypoint
          args: ["serve", "grpc"]
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: app-secret
          resources:
            requests:
              cpu: "10m"
              memory: "40Mi"
            limits:
              cpu: "50m"
              memory: "150Mi"
        - name: authen-go-http
          image: ghcr.io/tranthetuan/authen-go:master
          args: ["serve", "http"]
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          envFrom:
            - secretRef:
                name: app-secret
          resources:
            requests:
              cpu: "10m"
              memory: "40Mi"
            limits:
              cpu: "50m"
              memory: "150Mi"
