name: Update Image Name
on:
  workflow_call:
    inputs:
      image:
        type: string
        required: true

jobs:
  update_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checking out the code
        uses: actions/checkout@v3

      - name: Update image
        uses: mikefarah/yq@master
        with:
          cmd: yq '(.spec.template.spec.containers[].image, .spec.template.spec.initContainers[].image) = ${{ inputs.image }}' -i ${{ github.workspace }}/k8s/auth-deployment.yml

      - name: Commit change
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: apply image name changes - ${{ inputs.image }}
          branch: master